.Calculator {
  padding: 45px;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.heading {
  width: 50%;
  color: #102c51;
  font-size: 30px;
  line-height: 37px;
}
.formItem {
  margin: 25px 0;
}
.card {
  margin: 35px 0 25px;
}
.cardBody {
  padding: 40px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cardHeading {
  font-size: 14px;
  color: #102c51;
}
.cardSum {
  font-size: 24px;
  color: #2f80ed;
  font-weight: bold;
}

.button {
  color: #f2f2f2;
  font-weight: bold;
}

.label {
  color: #102c51;
  margin-bottom: 0px;
}

.prepend > span,
.append > span,
.footer {
  background-color: #f4f8fa;
}

.prepend > span,
.append > span {
  cursor: pointer;
}

.inputAmount {
  color: #000000;
  font-weight: bold;
  border-left: none;
  text-align: center;
}
.inputDate {
  color: #000000;
  font-weight: bold;
  border-left: none;
  border-right: none;
  text-align: center;
}
.footer {
  padding: 16px 20px;
  font-size: 10px;
}
